<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="/static/img/icon.svg" type="image/x-icon"/>
		<link rel="shortcut icon" href="/static/img/icon.svg" type="image/x-icon"/>
		<link rel="stylesheet" type="text/css" href="/static/css/map.css"/>
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/echarts.js"></script>
		<script src="/static/js/china.js"></script>
		<script src="/static/js/all-province.js"></script>
		<script src="/static/js/change-map.js"></script>
		
		<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
		<title></title>
	</head>
	<body>
		<div class="title">银屑病自动识别系统</div>
		<a class="begin" href="\quest">点此开始</a>
		<div class="line"></div>
		<div class="textbox">
			<h1><span>疾病简介</span></h1>
			<p>银屑病是一种常见的、原因不清的、具有特征性皮损的慢行易复发炎症型皮肤病。在寻常型银屑病、红皮病型银屑病、关节病型银屑病以及脓疱病型银屑病这四种银屑病，寻常型银屑病（即斑块型银屑病）占比高达99%。</p>
			<h1><span>诱因</span></h1>
			<p>目前认为是遗传、环境等多种因素相互作用的多基因遗传病。20%的银屑病病人有家族史，多基因控制，有关基因位于人的6号染色体上。可能导致患病的环境因素有链球菌感染、精神压力、应激反应、妊娠、吸烟、药物作用等。</p>
			<h1><span>寻常型银屑病临床表现</span></h1>
			<h2>不同好发部位的皮损特点：</h2>
			<p>1） 在四肢躯干上，初期为红色丘疹和斑丘疹，上覆薄层银白色鳞屑；后期转为覆厚层银白色鳞屑的红色斑块，有薄膜及点状出血特征。</p>	
			<p>2） 在头皮上的界限清晰的厚层鳞屑，头发呈现束状。</p>
			<p>3） 在指甲上，会出现顶针样点状凹陷，严重者会呈无光泽、甲剥离、畸形、缺损等状态。</p>
			<h2>病人自觉症状及病程：</h2>
			<p>病人往往会有不同程度的瘙痒，病情冬重夏轻、易反复发作</p>
			<h1><span>关于本项目</span></h1>
			<p>银屑病是全球高发疾病，据估计全球1.25亿人受累，其中许多患者未能及时诊治而贻误病情。</p></div>
		<div class="map" id="map" ></div>
		<div class="textbox"><p>《中国银屑病诊疗现状2020蓝皮书》显示，银屑病高发于青壮年，19-44岁年龄段患者占54%，
			这一疾病对患者就业以及劳动寿命都可能存在一定程度的影响。
			在《2017年世界银屑病患者幸福感调查报告》中，在参与调查的19个国家的63157名银屑病患者中，中国患者的幸福指数最低。
			此外，随着现代医学的发展，医学界已经认识到，银屑病是一种遗传与环境共同作用诱发的免疫介导的慢性、炎症性、系统性疾病[2]。
			如果治疗不及时，还会引起一系列共病。如：糖尿病、心血管疾病、肥胖、关节炎等。因此，银屑病的早发现、早治疗对于提升患者生存质量起着至关重要的作用。
			但目前，统计显示，超过75%的患者是发病四周以上才就诊，缺乏对疾病的认识和早期鉴别诊断和风险分层的工具是主要原因。
		</p></div>
		<div><img class="hospital" src="/static/img/hospital.jpg" alt="三甲医院的地理信息"></div>
		<div class="textbox"><p>我们通过统计能够提供皮肤病诊断的三甲医院的地理信息，可以看出医院分布存在巨大的地理差异，在西部地区缺乏良好的皮肤病就医条件。
			基于以上背景，我们希望开发准确高效的银屑病居家诊断工具将帮助患者降低诊断的成本，帮助患者更好地了解自己的疾病并及时前往医院进行进一步检查。</p></div>
			<div class="tail"><p>是否使用本产品是您的自愿行为，请知悉。作为产品开发者，我们承诺不会在后台收集任何您提供的信息。人工智能识别给出的结果仅供参考，如您感到身体不适，建议您及时前往医院进行诊断。处方药的使用必须受医生监督，切不可自行用药。由产品引起的纠纷和造成的一切后果，责任概由使用者自行承担，与产品开发者无关。特此声明！</p></div>

		
	

		
	</body>

</html>




